
<main class="landing-page mt-0 pt-0">
  <p id="notice" class="p-0 m-0"><%= notice %></p>
  <div class="top" style="background-image: url(<%= top_image(@top) %>);">
    <div class="pt-2">
      <%= top_title_link(@top) %>
    </div>
    <p class="top-text"> <%= top_content(@top) %></p>
  </div>

  <div class="landing-grid">
    <% @categories.each do |category| %>
      <div class='category-articles'
            style="background-image: url(<%= latest_article_cover(category) %>);">
        <p> <%= link_to category.name, category_path(category) %></p>
        <span><%= article_by_category(category) %></span>
      </div>
    <% end %>
  </div>
</main>
