<p id="notice"><%= notice %></p>

<main class="landing-page">
  <div class="top" style="background-image: url(<%= top_image(@featured) %>);">
    <p class="theme-color feature-title"> <%= top_title_link(@featured) %></p>
    <p class="feature-text"> <%= top_content(@featured) %></p>
  </div>

  <div class="landing-grid">
    <% @categories.each do |category| %>
      <div class='category'
            style="background-image: url(<%= latest_article_background(category) %>);">
        <p> <%= link_to category.name, category_path(category) %></p>
        <span> <%= category_article_link(category) %></span>
      </div>
    <% end %>
  </div>

</main>
