<nav class="d-flex w-100 h-100 justify-content-between align-items orange-border-bottom h-100 px-4 mb-0 pb-0">
  <h1><%= link_to 'SpecTechBlog', root_path, class:'title montserrat dark-gray simple-link' %></h1>
  <h3><%= link_to 'New Article +', new_category_article_path(@category), class: 'd-flex align-items-center simple-link mt-2 p-0' %></h3>

  <div class="d-flex justify-content-around mx-4 px-4">
    <%= categories_menu(@top_categories) %>
  </div>

  <div class="d-flex justify-content-center align-items-center m-0 p-0">
    <ul class="d-flex align-items-center m-0 p-0">
      <% if @current_user.nil? %>
        <li><%= link_to 'Log in', sessions_path, class:'mr-2 simple-link' %></li>
        <span class="mx-2 font-weight-bold">|</span>
        <li><%= link_to 'Sign up', new_user_path, class:'mr-2 simple-link' %></li>
      <% else %>
        <%= content_tag :li, @current_user.name, class:' mr-4 p-1' %>
        <li>
          <%= link_to 'Cerrar Sesión', session_path(session), method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
