<p id="notice" class="m-0 p-0"><%= notice %></p>
<div class="row categories-container m-0 p-0">
  <% @categories.each_with_index do |cat,i| %>
    <div class="col-3 m-0 p-0">
      <%= top_img(cat,i) %>
      <div class="half">
        <div class="d-flex flex-column">
          <div class="d-flex m-2 p-2 flex-column">
            <%= content_tag :p, @category.name %>
            <%= content_tag :h2, cat.title %>
            <%= read_more(cat) %>
            <%= link_to 'Read more', category_article_path(@category, cat), class:'' %>
          </div>
        </div>
      </div>
      <%= bottom_img(cat,i) %>
    </div>
  <% end %>
</div>
