<!DOCTYPE html>
<html>
  <head>
    <title>SpectechBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">
    <nav class="d-flex w-100 justify-content-between align-items orange-border-bottom h-100">
      <h1 class="montserrat dark-gray">SpecTechBlog</h1>

      <%= render 'layouts/categories_nav' %>

      <div class="d-flex justify-content-center align-items-center m-0 p-0">
        <ul class="d-flex align-items-center m-0 p-0">
          <% if @current_user.nil? %>
            <li><%= link_to 'Log in', sessions_path, class:'mr-2' %></li>
            <li><%= link_to 'Sign up', new_user_path, class:'mr-2' %></li>
          <% else %>
            <%= content_tag :li, @current_user.name, class:' mr-4' %>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
