<!DOCTYPE html>
<html>
  <head>
    <title>SpectechBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="d-flex w-100 justify-content-end">
      <ul class="d-flex">
        <% if @current_user.nil? %>
          <li><%= link_to 'Log in', sessions_path, class:'mx-2' %></li>
          <li><%= link_to 'Sign up', new_user_path, class:'mx-2' %></li>
        <% else %>
          <li><% @current_user.name %></li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
